
      <div class="tweet-content">
        <img alt="Mehrdad Allahkarami" class="inline-reply-user-image avatar size32"
             src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png">
        <div class="TweetBox-photoIntent">
          <div class="photo-selector">
            <button aria-hidden="true" class="btn icon-btn js-tooltip" data-original-title="Add photos or video"
                    tabindex="-1" type="button">
              <span class="tweet-camera Icon Icon--media"></span>
              <span class="text add-photo-label u-hiddenVisually">Add photos or video</span>
            </button>
            <div class="image-selector">
              <input class="file-data" name="media_data_empty" type="hidden">
              <div class="multi-photo-data-container hidden">
              </div>
              <label class="t1-label">

                <span class="visuallyhidden">Add photos or video</span>
                <input accept="image/gif,image/jpeg,image/jpg,image/png,video/mp4,video/x-m4v"
                       class="file-input js-tooltip" data-delay="150" data-original-title="Add photos or video"
                       multiple="" name="media[]" type="file">
              </label>
            </div>
          </div>
        </div>
        <div class="ComposerDragHelp">
          <span class="ComposerDragHelp-text"></span>
        </div>
        <span class="visuallyhidden" id="tweet-box-home-timeline-label">Tweet text</span>

        <div class="RichEditor RichEditor--emojiPicker">

          <div class="RichEditor-mozillaCursorWorkaround">&nbsp;</div>
          <div class="RichEditor-container u-borderRadiusInherit">


            <div class="dropdown-menu typeahead" id="typeahead-dropdown-4" role="listbox">
              <div aria-hidden="true" class="dropdown-caret">
                <div class="caret-outer"></div>
                <div class="caret-inner"></div>
              </div>
              <div class="dropdown-inner js-typeahead-results" role="presentation">
                <ul class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block0"
                    role="presentation" style="display: none;">

                  <li class="typeahead-item typeahead-account-item js-selectable" data-remote="true"
                      data-score="" data-user-id="" data-user-screenname="" role="presentation">

                    <a class="js-nav" data-ds="account" data-query-source="typeahead_click" data-search-query=""
                       role="option">
                      <div class="js-selectable typeahead-in-conversation hidden">
                        <span class="Icon Icon--follower Icon--small"></span>
                        <span class="typeahead-in-conversation-text">In this conversation</span>
                      </div>
                      <img alt="" class="avatar size32">
                      <span class="typeahead-user-item-info account-group">
        <span class="fullname"></span><span class="UserBadges"><span
                        class="Icon Icon--verified js-verified hidden"><span class="u-hiddenVisually">Verified account</span></span><span
                        class="Icon Icon--protected js-protected hidden"><span class="u-hiddenVisually">Protected Tweets</span></span></span><span
                        class="UserNameBreak">&nbsp;</span><span class="username u-dir"
                                                                 dir="ltr">@<b></b></span>
      </span>
                      <span class="typeahead-social-context"></span>
                    </a>
                  </li>
                  <li class="js-selectable typeahead-accounts-shortcut js-shortcut" role="presentation"><a
                    class="js-nav" data-ds="account_search" data-query-source="typeahead_click"
                    data-search-query="" data-shortcut="true" href="" role="option"></a></li>
                </ul>
                <ul class="typeahead-items typeahead-topics block1" role="presentation" style="display: none;">

                  <li class="typeahead-item typeahead-topic-item" role="presentation">
                    <a class="js-nav" data-ds="topics" data-query-source="typeahead_click" data-search-query=""
                       href="" role="option" tabindex="-1"></a>
                  </li>
                </ul>
              </div>
            </div>


            <div class="RichEditor-scrollContainer u-borderRadiusInherit">
              <div aria-autocomplete="list" aria-expanded="false"
                   aria-labelledby="tweet-box-home-timeline-label" aria-multiline="true"
                   aria-owns="typeahead-dropdown-4" class="tweet-box rich-editor" contenteditable="true"
                   data-placeholder-default="What’s happening?"
                   data-placeholder-poll-composer-on="Ask a question..."
                   data-placeholder-reply="Tweet your reply" dir="ltr" id="tweet-box-home-timeline" name="tweet"
                   role="textbox" spellcheck="true">
                <div>What’s happening?</div>
              </div>

              <div aria-hidden="true" class="RichEditor-pictographs"></div>
            </div>
            <div class="RichEditor-rightItems RichEditor-topItems">
              <div class="EmojiPicker dropdown is-loading" style="">
                <button aria-haspopup="true"
                        class="EmojiPicker-trigger js-dropdown-toggle js-tooltip u-textUserColorHover"
                        data-delay="150" title="Add emoji" type="button">
                  <span class="Icon Icon--smiley"></span>
                  <span class="text u-hiddenVisually">
      Add emoji
    </span>
                </button>
                <div class="EmojiPicker-dropdownMenu dropdown-menu" tabindex="-1">
                  <div class="EmojiPicker-content Caret Caret--stroked"></div>
                </div>
              </div>

            </div>

            <div class="RichEditor-leftItems RichEditor-bottomItems">


              <div class="inline-geo-picker geo-picker dropdown">
                <button class="js-geo-search-trigger geo-picker-btn" data-delay="150" type="button">
                  <span class="Icon Icon--geo Icon--small"></span>
                  <span class="geo-status"></span>
                </button>
                <span class="dropdown-container dropdown-menu"></span>
              </div>

            </div>
            <div class="RichEditor-rightItems RichEditor-bottomItems">
              <div class="js-character-counter">
                <div class="js-countdown-counter tweet-counter CountdownCounter"></div>
                <svg class="RadialCounter js-radial-counter" height="20" width="20">
                  <style>
                    /* Global svg style overrides the overflow. Added svg for specificity */
                    svg.RadialCounter {
                      margin-bottom: -4px;
                      overflow: visible;
                      transform: rotate(-90deg);
                    }

                    .RadialCounter--safe {
                      stroke: #1da1f2;
                    }

                    .RadialCounter--warn {
                      stroke: #ffad1f;
                    }

                    .RadialCounter--danger {
                      stroke: #e0245e;
                    }

                    .RadialCounter-progressUnderlay {
                      stroke: #ccd6dd;
                    }

                    @keyframes RadialCounterPulse {
                      0% {
                        stroke-width: 2
                      }
                      50% {
                        stroke-width: 4;
                      }
                      100% {
                        stroke-width: 2;
                      }
                    }

                    .RadialCounter--danger.RadialCounter--pulse,
                    .RadialCounter--warn.RadialCounter--pulse {
                      animation: RadialCounterPulse 0.3s ease-in-out;
                      animation-iteration-count: 1;
                    }
                  </style>
                  <circle class="RadialCounter-progressUnderlay" cx="50%" cy="50%" fill="none" r="8"
                          stroke-width="1"></circle>
                  <circle class="js-progress-circle RadialCounter--safe" cx="50%" cy="50%" fill="none" r="8"
                          stroke-width="2" style="stroke-dashoffset: 47.2496; stroke-dasharray: 50.2655;">
                  </circle>
                </svg>

              </div>

            </div>

          </div>
          <div class="RichEditor-mozillaCursorWorkaround">&nbsp;</div>
        </div>


