<body
  class="logged-in user-style-MAllahkarami enhanced-mini-profile no-nav-banners supports-drag-and-drop profile-field-editing three-col"
  data-fouc-class-names="swift-loading no-nav-banners" dir="ltr">


<div class="route-home"
     data-at-shortcutkeys="{&quot;n&quot;:&quot;New Tweet&quot;,&quot;l&quot;:&quot;Like&quot;,&quot;r&quot;:&quot;Reply&quot;,&quot;t&quot;:&quot;Retweet&quot;,&quot;m&quot;:&quot;Direct message&quot;,&quot;u&quot;:&quot;Mute User&quot;,&quot;b&quot;:&quot;Block User&quot;,&quot;Enter&quot;:&quot;Open Tweet details&quot;,&quot;o&quot;:&quot;Expand photo&quot;,&quot;/&quot;:&quot;Search&quot;,&quot;CtrlEnter&quot;:&quot;Send Tweet&quot;,&quot;?&quot;:&quot;This menu&quot;,&quot;j&quot;:&quot;Next Tweet&quot;,&quot;k&quot;:&quot;Previous Tweet&quot;,&quot;Space&quot;:&quot;Page down&quot;,&quot;.&quot;:&quot;Load new Tweets&quot;,&quot;gh&quot;:&quot;Home&quot;,&quot;gn&quot;:&quot;Notifications&quot;,&quot;gr&quot;:&quot;Mentions&quot;,&quot;gp&quot;:&quot;Profile&quot;,&quot;gl&quot;:&quot;Likes&quot;,&quot;gi&quot;:&quot;Lists&quot;,&quot;gm&quot;:&quot;Messages&quot;,&quot;gs&quot;:&quot;Settings&quot;,&quot;gu&quot;:&quot;Go to user\u2026&quot;}"
     id="doc">
  <div class="topbar js-topbar">


    <div class="ProfilePage-editingOverlay"></div>


    <div class="global-nav" data-section-term="top_nav">
      <div class="global-nav-inner">
        <div class="container">

          <h1 class="Icon Icon--bird bird-topbar-etched" style="display: inline-block; width: 24px; height: 21px;">
            <span class="visuallyhidden">Twitter</span>
          </h1>
          <div class="pushstate-spinner"></div>


          <div role="navigation" style="display: inline-block;">
            <ul class="nav js-global-actions" id="global-actions">
              <li class="home active" data-global-action="home" id="global-nav-home">
                <a class="js-nav js-tooltip js-dynamic-tooltip" data-component-context="home_nav" data-nav="home"
                   data-original-title="" data-placement="bottom" href="/">
                  <span class="Icon Icon--home Icon--large"></span>
                  <span class="Icon Icon--homeFilled Icon--large u-textUserColor"></span>
                  <span aria-hidden="true" class="text">Home</span>
                  <span class="u-hiddenVisually a11y-inactive-page-text">Home</span>
                  <span class="u-hiddenVisually a11y-active-page-text">Home, current page.</span>
                  <span class="u-hiddenVisually hidden-new-items-text">New Tweets available.</span>
                </a>
              </li>
              <li class="people notifications" data-global-action="connect">
                <a class="js-nav js-tooltip js-dynamic-tooltip" data-component-context="connect_nav" data-nav="connect"
                   data-placement="bottom" href="/i/notifications">
                  <span class="Icon Icon--notifications Icon--large"></span>
                  <span class="Icon Icon--notificationsFilled Icon--large u-textUserColor"></span>
                  <span aria-hidden="true" class="text">Notifications</span>
                  <span class="u-hiddenVisually a11y-inactive-page-text">Notifications</span>
                  <span class="u-hiddenVisually a11y-active-page-text">Notifications, current page.</span>
                  <span class="count">
              <span class="count-inner">0</span>
            </span>
                </a>
              </li>
              <li class="dm-nav">
                <a class="js-tooltip js-dynamic-tooltip global-dm-nav" data-original-title="" data-placement="bottom"
                   href="#" role="button">
                  <span class="Icon Icon--dm Icon--large"></span>
                  <span class="text">Messages</span>
                  <span class="dm-new"><span class="count-inner"></span></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="pull-right nav-extras">
            <div role="search">
              <form action="/search" class="t1-form form-search js-search-form ng-untouched ng-pristine ng-valid"
                    id="global-nav-search" novalidate="">
                <label class="visuallyhidden" for="search-query">Search query</label>
                <input aria-autocomplete="list" aria-expanded="false" aria-owns="typeahead-dropdown-1"
                       autocomplete="off" class="search-input" id="search-query" name="q" placeholder="Search Twitter"
                       spellcheck="false" type="text">
                <span class="search-icon js-search-action">
      <button class="Icon Icon--medium Icon--search nav-search" tabindex="-1" type="submit">
        <span class="visuallyhidden">Search Twitter</span>
      </button>
    </span>
                <div class="dropdown-menu typeahead" id="typeahead-dropdown-1" role="listbox">
                  <div aria-hidden="true" class="dropdown-caret">
                    <div class="caret-outer"></div>
                    <div class="caret-inner"></div>
                  </div>
                  <div class="dropdown-inner js-typeahead-results" role="presentation">
                    <div class="typeahead-recent-searches block0" role="presentation">
                      <h3 class="typeahead-category-title recent-searches-title" id="recent-searches-heading">Recent
                        searches</h3>
                      <button class="btn-link clear-recent-searches" tabindex="-1" type="button">Clear</button>
                      <ul class="typeahead-items recent-searches-list" role="presentation">

                        <li class="typeahead-item typeahead-recent-search-item" role="presentation">
                          <span aria-hidden="true" class="Icon Icon--close"><span
                            class="visuallyhidden">Remove</span></span>
                          <a aria-describedby="recent-searches-heading" class="js-nav" data-ds="recent_search"
                             data-query-source="" data-search-query="" href="" role="option" tabindex="-1"></a>
                        </li>
                      </ul>
                    </div>
                    <div class="typeahead-saved-searches block2" role="presentation">
                      <h3 class="typeahead-category-title saved-searches-title" id="saved-searches-heading">Saved
                        searches</h3>
                      <ul class="typeahead-items saved-searches-list" role="presentation">

                        <li class="typeahead-item typeahead-saved-search-item" role="presentation">
                          <span aria-hidden="true" class="Icon Icon--close"><span
                            class="visuallyhidden">Remove</span></span>
                          <a aria-describedby="saved-searches-heading" class="js-nav" data-ds="saved_search"
                             data-query-source="" data-search-query="" href="" role="option" tabindex="-1"></a>
                        </li>
                      </ul>
                    </div>
                    <ul class="typeahead-items typeahead-topics block3" role="presentation" style="display: none;">

                      <li class="typeahead-item typeahead-topic-item" role="presentation">
                        <a class="js-nav" data-ds="topics" data-query-source="typeahead_click" data-search-query=""
                           href="" role="option" tabindex="-1"></a>
                      </li>
                    </ul>
                    <ul class="typeahead-items typeahead-accounts social-context js-typeahead-accounts block4"
                        role="presentation" style="display: none;">

                      <li class="typeahead-item typeahead-account-item js-selectable" data-remote="true" data-score=""
                          data-user-id="" data-user-screenname="" role="presentation">

                        <a class="js-nav" data-ds="account" data-query-source="typeahead_click" data-search-query=""
                           role="option">
                          <div class="js-selectable typeahead-in-conversation hidden">
                            <span class="Icon Icon--follower Icon--small"></span>
                            <span class="typeahead-in-conversation-text">In this conversation</span>
                          </div>
                          <img alt="" class="avatar size32">
                          <span class="typeahead-user-item-info account-group">
        <span class="fullname"></span><span class="UserBadges"><span
                            class="Icon Icon--verified js-verified hidden"><span class="u-hiddenVisually">Verified account</span></span><span
                            class="Icon Icon--protected js-protected hidden"><span class="u-hiddenVisually">Protected Tweets</span></span></span><span
                            class="UserNameBreak">&nbsp;</span><span class="username u-dir" dir="ltr">@<b></b></span>
      </span>
                          <span class="typeahead-social-context"></span>
                        </a>
                      </li>
                      <li class="js-selectable typeahead-accounts-shortcut js-shortcut" role="presentation"><a
                        class="js-nav" data-ds="account_search" data-query-source="typeahead_click" data-search-query=""
                        data-shortcut="true" href="" role="option"></a></li>
                    </ul>
                  </div>
                </div>

              </form>
            </div>

            <ul class="nav right-actions">
              <li
                [ngClass]="{'me': true ,'dropdown': true, 'session': true ,'js-session': true, 'open': openDropDown }"
                data-global-action="t1me" id="user-dropdown">
                <img alt="Profile and settings" class="Avatar Avatar--size32" data-user-id="1052264039412191233"
                     src="https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"
                     (click)="openDropDownClick()">
                <div class="DashUserDropdown dropdown-menu dropdown-menu--rightAlign is-forceRight is-autoCentered">
                  <div class="js-first-tabstop" tabindex="0"></div>
                  <div class="dropdown-caret">
                    <span class="caret-outer"></span>
                    <span class="caret-inner"></span>
                  </div>
                  <ul tabindex="-1" role="menu" aria-labelledby="user-dropdown-toggle" aria-hidden="true">


                    <li class="DashUserDropdown-userInfo" data-name="user-info" role="presentation">
                      <a href="/MAllahkarami" class="DashUserDropdown-userInfoLink js-nav" data-nav="view_profile"
                         role="menuitem">
                        <b class="fullname">Mehrdad Allahkarami</b><span class="UserBadges"></span>
                        <p class="name"><span class="username u-dir u-textTruncate"
                                              dir="ltr">@<b>MAllahkarami</b></span></p>
                      </a>
                    </li>

                    <li class="dropdown-divider" role="presentation"></li>

                    <li class="current-user" data-name="profile" role="presentation">
                      <a href="/MAllahkarami" class="js-nav" data-nav="view_profile" role="menuitem">
                        <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--me"></span>Profile
                      </a>
                    </li>


                    <li data-name="lists" role="presentation">
                      <a class="js-nav" href="/MAllahkarami/lists" data-nav="all_lists" role="menuitem">
                        <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--list"></span>Lists
                      </a>
                    </li>


                    <li data-name="moments" role="presentation">
                      <a class="js-nav" href="/MAllahkarami/moments" data-nav="all_moments" role="menuitem">
                        <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--lightning"></span>Moments
                      </a>
                    </li>

                    <li class="dropdown-divider" role="presentation"></li>


                    <li role="presentation">
                      <a href="https://ads.twitter.com/?ref=gl-tw-tw-twitter-ads" target="_blank" data-nav="ads"
                         rel="noopener" role="menuitem">
                        <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--promotedStroked"></span>Twitter
                        Ads
                      </a>
                    </li>


                    <li role="presentation">
                      <a class="user-dropdown-analytics" href="https://analytics.twitter.com/" target="_blank"
                         data-nav="user_dropdown_analytics" rel="noopener" role="menuitem">
                        <span class="DashUserDropdown-linkIcon Icon Icon--medium Icon--analytics"></span>Analytics
                      </a>
                    </li>


                    <li class="dropdown-divider" role="presentation"></li>


                    <li role="presentation"><a href="/settings" data-nav="settings" class="js-nav" rel="noopener"
                                               role="menuitem">Settings and privacy</a></li>


                    <li role="presentation"><a href="//support.twitter.com" data-nav="help_center" rel="noopener"
                                               role="menuitem">Help Center</a></li>


                    <li class="js-keyboard-shortcut-trigger" data-nav="shortcuts" role="presentation">
                      <button type="button" class="dropdown-link" role="menuitem">Keyboard shortcuts</button>
                    </li>


                    <li class="js-signout-button" id="signout-button" data-nav="logout" role="presentation">
                      <button type="button" class="dropdown-link" role="menuitem">Log out</button>
                      <form class="t1-form dropdown-link-form signout-form" id="signout-form" action="/logout"
                            method="POST">
                        <input type="hidden" value="91ea77f3a838494908d5b7cb28a758c1faa84e93" name="authenticity_token"
                               class="authenticity_token">
                        <input type="hidden" name="reliability_event" class="js-reliability-event">
                        <input type="hidden" name="scribe_log">
                      </form>
                    </li>


                    <li class="dropdown-divider" role="presentation"></li>
                    <li class="current-user nightmode-toggle" data-name="profile" role="presentation">
                      <a class="js-nav" data-nav="view_profile" role="menuitem">
          <span class="DashUserDropdown-linkIcon Icon Icon--medium js-nightmode-icon Icon--crescent">
          </span><span class="js-nightmode-label">Night mode</span>
                      </a>
                    </li>

                  </ul>
                  <div class="js-last-tabstop" tabindex="0"></div>
                </div>

              </li>
              <li aria-labelledby="global-new-tweet-button" class="topbar-tweet-btn" role="complementary">
                <button class="js-global-new-tweet js-tooltip EdgeButton EdgeButton--primary js-dynamic-tooltip"
                        data-component-context="new_tweet_button" data-placement="bottom" id="global-new-tweet-button">

                  <span class="text">Tweet</span>
                </button>
              </li>
            </ul>
          </div>


        </div>
      </div>
    </div>
  </div>


  <div id="page-outer">
    <div class="AppContent wrapper wrapper-home" id="page-container">

      <div class="dashboard dashboard-left">
        <div class="DashboardProfileCard  module">

          <a aria-hidden="true" class="DashboardProfileCard-bg u-bgUserColor u-block" href="/MAllahkarami"
             rel="noopener" tabindex="-1">
          </a>

          <div class="DashboardProfileCard-content">

            <div class="DashboardProfileCard-avatarContainer">
              <div class="controls avatar-settings inline-upload-avatar dropdown center" id="choose-photo">
                <a aria-haspopup="true" aria-hidden="true"
                   class="DashboardProfileCard-avatarLink ProfileAvatar-placeholder u-inlineBlock js-nav js-tooltip profile-picture js-dropdown-toggle"
                   data-placement="top" data-scribe-element="profile_avatar" href="/MAllahkarami" role="button"
                   tabindex="-1" title="Add a profile photo">
                  <div class="DashboardProfileCard-avatarImage u-borderUserColorLightHover u-bgUserColor"
                       data-avatar-placeholder="true">
                    <span class="Icon Icon--cameraPlus Icon--extraLarge"></span>
                  </div>
                  <img alt="" class="DashboardProfileCard-avatarImage js-action-profile-avatar"
                       src="https://abs.twimg.com/sticky/default_profile_images/default_profile_bigger.png"
                       style="display:none">
                </a>

                <div class="uploader-image uploader-avatar clearfix">
                  <div class="dropdown-menu">
                    <div class="dropdown-caret">
                      <span class="caret-outer"></span>
                      <span class="caret-inner"></span>
                    </div>
                    <ul>
                      <li class="photo-choose-existing upload-photo" id="photo-choose-existing">
                        <button class="dropdown-link" type="button">Upload photo</button>


                        <div class="photo-selector">
                          <button class="btn" type="button">
                            Change photo
                          </button>
                          <span class="photo-file-name">No file selected</span>
                          <div class="image-selector">
                            <input class="file-name" name="media_file_name" type="hidden">
                            <input class="file-data" name="media_data_empty" type="hidden">
                            <label class="t1-label">
                              <span class="u-hiddenVisually">Add Photo</span>
                              <input accept="image/gif,image/jpeg,image/jpg,image/png" class="file-input" name="media[]"
                                     tabindex="-1" title="Add Photo" type="file">
                            </label>
                          </div>
                        </div>
                      </li>
                      <li class="u-hidden" id="photo-choose-webcam">
                        <button class="dropdown-link" type="button">Take photo</button>
                      </li>
                      <li class="u-hidden" id="photo-delete-image">
                        <button class="dropdown-link" type="button">Remove</button>
                      </li>
                      <li class="dropdown-divider" role="presentation"></li>
                      <li class="cancel-options">
                        <button class="dropdown-link" type="button">Cancel</button>
                      </li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>

            <div class="DashboardProfileCard-userFields account-group">
              <div class="DashboardProfileCard-name u-textTruncate">
                <a class="u-textInheritColor js-nav" href="/MAllahkarami" rel="noopener">Mehrdad Allahkarami</a><span
                class="UserBadges"></span>
              </div>
              <span class="DashboardProfileCard-screenname u-inlineBlock u-dir" dir="ltr">
          <a class="DashboardProfileCard-screennameLink u-linkComplex u-linkClean js-nav" href="/MAllahkarami"
             rel="noopener"><span class="username u-dir" dir="ltr">@<b
            class="u-linkComplex-target">MAllahkarami</b></span></a>
        </span>
            </div>

            <div class="ProfileCardStats">
              <ul class="ProfileCardStats-statList Arrange Arrange--bottom Arrange--equal">
                <li class="ProfileCardStats-stat Arrange-sizeFit">
                  <a class="ProfileCardStats-statLink u-textUserColor u-linkClean u-block js-nav js-tooltip"
                     data-element-term="tweet_stats" href="/MAllahkarami" title="1 Tweet">
                    <span class="ProfileCardStats-statLabel u-block">Tweets</span>
                    <span class="ProfileCardStats-statValue" data-count="1" data-is-compact="false">1</span>
                  </a>
                </li>
              </ul>
            </div>


            <div id="dashboard-profile-prompt"></div>

          </div>
        </div>
      </div>


      <div aria-labelledby="content-main-heading" class="content-main top-timeline-tweetbox" id="timeline" role="main"
           tabindex="-1">

        <div id="above-timeline-prompt"></div>
        <app-new-post></app-new-post>
        <div class="content-header visuallyhidden">
          <div class="header-inner">
            <h2 class="js-timeline-title" id="content-main-heading">Tweets</h2>
          </div>
        </div>

        <div class="stream-container conversations-enabled js-request-more-stream-items"
             data-max-position="1052264444640690176" data-min-position="1052264444640690176">
          <div class="stream-item js-new-items-bar-container">
          </div>

          <div class="stream">
            <ol class="stream-items js-navigable-stream" id="stream-items-id">

              <app-posts></app-posts>
            </ol>
            <div class="stream-footer">
              <div class="timeline-end has-items">
                <div class="stream-end">
                  <div class="stream-end-inner">
                    <span class="Icon Icon--large Icon--logo"></span>

                    <p class="empty-text">

                      What? No Tweets yet?
                    </p>

                    <p>
                      <button class="btn-link back-to-top hidden" type="button">Back to top ↑</button>
                    </p>
                  </div>
                </div>


                <div class="stream-loading">
                  <div class="stream-end-inner">
                    <span class="spinner" title="Loading..."></span>
                  </div>
                </div>

              </div>
            </div>
            <div class="stream-fail-container u-hidden" style="display: none;">
              <div class="js-stream-whale-end stream-whale-end stream-placeholder centered-placeholder">
                <div class="stream-end-inner">
                  <h2 class="title">Loading seems to be taking a while.</h2>
                  <p>
                    Twitter may be over capacity or experiencing a momentary hiccup. <a class="try-again-after-whale"
                                                                                        href="#" role="button">Try
                    again</a> or visit <a href="http://status.twitter.com" rel="noopener" target="_blank">Twitter
                    Status</a> for more information.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
